<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if headerdata %}
    <title>{{ headerdata.title }} - Evaluation </title>
    {% else %}
    <title>MPS Evaluation</title>
    {% endif %}

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="x_window" content="{{ headerdata.x_window }}">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

    {% block css %}{% endblock %}
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="2">
    {% include 'navbar.html' %}

    <div class="container-fluid">
      <!-- child template -->
      {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}

    <!-- scripts -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script src="{{ url_for('static', filename='control-panel.js') }}"></script>
    <script src="{{ url_for('static', filename='checks-plot.js') }}"></script>
    <script src="{{ url_for('static', filename='mps-plot.js') }}"></script>
    <script src="{{ url_for('static', filename='attack-plot.js') }}"></script>
    <script src="{{ url_for('static', filename='latency-plot.js') }}"></script>
    <script src="{{ url_for('static', filename='execution-time-plot.js') }}"></script>
    {% block js %}{% endblock %}

  </body>

</html>
