<div id="attack-performance" class="card">
  <div class="card-header">
    Attack Performance
    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Global attack performance"></i>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="plot" id="attack-base-confusion-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="attack-roc-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="attack-pr-plot"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="plot" id="attack-accuracy-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="attack-precision-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="attack-recall-plot"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="plot" id="attack-f1score-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="attack-vehicle-density-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="attack-placeholder-plot"></div>
        </div>
      </div>
    </div>

  </div>
</div>

