<div id="checks" class="card">

  <div class="card-header">
    Checks
    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
      title="Presents local status of a selected host vehicle's MPS"></i>
  </div>

  <div class="card-body">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <label for="hvList">Host Vehicle Id:</label>
          <select class="form-control" id="hvList" name="loadhvlist"></select>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div id="checks-plot"></div>
        </div>
      </div>
    </div>

  </div>
</div>


