<div id="control-panel" class="card">
  <div class="card-header">
    Control Panel
    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Control the simulation"></i>
  </div>

  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
            <label for="loadsession">Load Previous Session:</label>
            <select class="form-control" id="loadsession" name="loadsessionlist"></select>
            <button id="saveSessionBtn" class="btn btn-primary">Save Current Session</button>
            <button id="resetDataBtn" class="btn btn-danger">Reset Data</button>
        </div>

        <div class="col-lg-6">
          <label>Attack Stats:</label>
          <label id=attackstatslabel></label>
        </div>
      </div>
    </div>
  </div>
</div>

