<div id="latency" class="card">
  <div class="card-header">
    Latency
    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Elapsed time between attack start and attack detection"></i>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="plot" id="latency-sim-real-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="latency-sim-bsm-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="latency-sim-dist-plot"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="plot" id="latency-sim-sim-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="latency-real-bsm-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="latency-real-dist-plot"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="plot" id="latency-bsm-dist-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="latency-placeholder-plot"></div>
        </div>
        <div class="col-lg-4">
          <div class="plot" id="latency-placeholder-plot"></div>
        </div>
      </div>
    </div>

  </div>
</div>
 
