<div id="mps-performance" class="card">
  <div class="card-header">
    MPS Performance
    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Global MPS performance"></i>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="plot" id="mps-performance-plot"></div>
    </div>

  </div>
</div>

