<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='obs_logo.png') }}" width="150px">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#control-panel">Control Panel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#checks">Checks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mps-performance">MPS Performance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#attack-performance">Attack Performance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#latency">Latency</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#execution-time">Execution Time</a>
    </li>
  </ul>
</nav>


